.head{
    color: blue;

}
.perent{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.btn{
    padding: 20px;
    width: 80px;
    height: 50px;
    color: white;
    background: #000;
}